main {
    border: solid 3px red;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#gameboard {
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.row {
    display: flex;
    
}